@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom subtle scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}
